
.bg {
    -fx-background-color: #ff69b4;
}

.menu {
    -fx-alignment: top-center;
    -fx-pref-width: 200px;
    -fx-spacing: 35px;
    -fx-background-color:white;
}

.menuButton {
    -fx-background-color: #EE7202;
    -fx-pref-width: 130px;
    -fx-font-size:14pt;
    -fx-font-weight:bold;
    -fx-text-fill:white;
}

.menuButton:hover {
    -fx-background-color: #CC4D00;
}

.menuButtonActive {
    -fx-background-color: #CC4D00;
    -fx-pref-width: 130px;
    -fx-font-size:14pt;
    -fx-font-weight:bold;
    -fx-text-fill:white;

}

.menuButtonActive {
    -fx-background-color: #CC4D00;
}

.content {
    -fx-background-color: #DDDDDD;
    -fx-pref-height: 825px;
    -fx-pref-width: 1100px;
}

.greyLabel{
    -fx-text-fill:grey;
}

.borderPane{
    -fx-background-color: #EE7202;
}
.lblLogo{
    -fx-font-size:25pt;
    -fx-text-fill: white;
    -fx-font-weight:bold;
}
