.root {
    -fx-focus-color: #515151;
    -fx-accent: #515151;
}

.bg {
    -fx-background-color: #ff69b4;
}

.menu {
    -fx-alignment: top-center;
    -fx-pref-width: 200px;
    -fx-spacing: 35px;
    -fx-background-color:white;
    -fx-padding: 35px;
}

.menuButton {
    -fx-background-color: #EE7202;
    -fx-pref-width: 130px;
    -fx-font-size:14pt;
    -fx-font-weight:bold;
    -fx-text-fill:white;
}

.menuButton:hover {
    -fx-background-color: #CC4D00;
}

.menuButtonActive {
    -fx-background-color: #CC4D00;
    -fx-pref-width: 130px;
    -fx-font-size:14pt;
    -fx-font-weight:bold;
    -fx-text-fill:white;

}

.menuButtonActive {
    -fx-background-color: #515151;
}

.content {
/*    -fx-background-color: #DDDDDD;*/
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 825px;
    -fx-pref-width: 880px;
    -fx-padding: 33px;
    -fx-spacing: 10px;
}

.greyLabel{
    -fx-text-fill:grey;
}

.borderPane{
    -fx-background-color: #EE7202;
}

.lblLogo{
    -fx-font-size: 25pt;
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-padding: 25px;
}

.bigHeader{
    -fx-font-size: 20pt;
    -fx-font-weight:bold;
}

.smallHeader{
    -fx-font-size: 15pt;
}